opennetem_env
netsim.log
var
**.DS_Store
__pycache__
**._*
**/netem/globals
netem_env

**/global/container_info.json
**/global/instance_info.json
**/global/scenario.json
**/global/scenario_info.json

**/opennetem.log

doc/_build
**__pycache__
._*.__py
