**/bpecho.out
**/start_ion.out
**/start_ion2.log
**/foo.out
**/foo.txt
**/*.pcap
netem.log

**/bping_3.1.out
**/ion.log
**/ltpblock*
**/start_ion.out
**/start_ion2.log
**/bpecho.out
mounts/global/ION_contacts
**/ion_config_tool.log

